<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.polytech.si3.ihm.plantish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Plantish">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".find.FindPlantActivity"/>
        <activity android:name=".find.FindPlantFilterActivity"/>
        <activity android:name=".AddPlantActivity">
        </activity>
        <activity android:name=".MyPlantsActivity">
        </activity>
        <activity android:name=".UpdatePlantActivity">
        </activity>
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.PlantFoundActivity"></activity>
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.PlantNotFoundActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.ListOfPlantsFoundActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.LeafLayoutActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.LeafShapeActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.PlantSunActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.PlantSeasonActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.PlantColorActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.identify.activities_identification.PlantTypeActivity" />
        <activity android:name="edu.polytech.si3.ihm.plantish.community.Profile"></activity>
        <activity android:name="edu.polytech.si3.ihm.plantish.community.HitoriqueIncidents" />
        <activity android:name="edu.polytech.si3.ihm.plantish.community.FacebookFeed" />
        <activity android:name="edu.polytech.si3.ihm.plantish.community.Posts" />
        <activity android:name="edu.polytech.si3.ihm.plantish.community.LoginActivity"/>
        <service
            android:name="edu.polytech.si3.ihm.plantish.identify.PlantFinderService"
            android:enabled="true" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider3825926067493707"
            android:exported="true" />
    </application>

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_CALENDAR" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
</manifest>